<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RSA CipherTool</title>
    <link href="../static/css/messaging-style.css" rel="stylesheet" th:href="@{/css/messaging-style.css}">
    <link href="../static/images/head-logo.png" rel="icon" th:href="@{/images/head-logo.svg}" type="image/svg"/>

</head>

<body>
<div id="blur-user-div">
    <div class="blur-user-block">
        <img id="user-icon" rel="icon" src="../static/images/user-icon.svg" th:src="@{/images/user-icon.svg}">
        <p id="username-id">User</p>
    </div>
</div>
<div class="top">
    <div class="first-block blur-block">
        <div class="public-key-title key-titles">
            <label for="public-key-input" th:text="'Public Key of '+ ${recipient}">Public Key</label>
        </div>
        <textarea class="key-input" id="public-key-input" placeholder="Recipient public key goes here..."
                  type="text"></textarea>
        <div class="upload-key" id="upload-key">
            <label class="input-file">
                <div>
                    <input class="hidden" id="files" onchange="handleFileSelect(event)" type="file"/>
                    <label for="files">Select file</label>
                </div>
            </label>
        </div>
    </div>


    <div class="second-block blur-block">
        <div class="key-titles last-message">
            <label for="last-message">Last Message from <span id="last-sender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </label>
        </div>
        <textarea class="key-input" id="last-message" readonly>No Messages Yet...</textarea>
    </div>
</div>

<div class="divchik">
    <div class="third-block blur-block">
        <div class="your-message key-titles">
            <label for="your-message-input">Your Message</label>
        </div>
        <textarea class="key-input" id="your-message-input" placeholder="Your Message Comes here..."></textarea>
        <input id="chatting-button" th:onclick="sendMessage()" type="button" value="Encrypt Message">
    </div>
</div>

<div id="loader-div" style="display: none">
    <div id="loader"></div>
</div>


<script th:inline="javascript">
    const messageInput = document.getElementById('your-message-input');
    const chattingButton = document.getElementById('chatting-button')
    const lastMessage = document.getElementById('last-message')
    const lastSender = document.getElementById('last-sender')
    const publicKey = document.getElementById('public-key-input')
    var isMessageEncrypted = false;
    var plaintext = '';

    var chatId = /*[[${chatId}]]*/ '';
    var username = /*[[${username}]]*/ '';
    var privateKey = /*[[${privateKey}]]*/ '';
    var recipient = /*[[${recipient}]]*/ '';
    document.getElementById("username-id").textContent = username;

    lastSender.textContent = recipient;
    const socket = new SockJS('/websocket');
    stompClient = Stomp.over(socket);

    const destination = '/topic/' + chatId;
    messageInput.addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            chattingButton.click();
        }
    });

    stompClient.connect({}, function (frame) {
        console.log("Connected!")
        stompClient.subscribe(destination, function (message) {
            const messageBody = JSON.parse(message.body);
            console.log('Received message:', messageBody);
            if (messageBody.from !== username) {
                decryptText(messageBody.content, function (decryptedMessage) {
                    lastMessage.textContent = decryptedMessage;
                });
            }
        });

    })

    function sendMessage() {
        const message = messageInput.value.trim();
        if (message === '') {
            alert('Enter some message to send!');
            return;
        }
        if (publicKey.value === '') {
            alert('Enter recipient public key!');
            return;
        }
        console.log("Message:" + message)
        if (isMessageEncrypted) {
            chattingButton.value = "Encrypt Message";
            sendMessageToChat(message);
            isMessageEncrypted = false;
        } else {
            chattingButton.value = "Send Encrypted Message";
            isMessageEncrypted = true;
            encryptText()
        }

    }

    function sendMessageToChat(message) {
        stompClient.send('/app/' + chatId, {}, JSON.stringify({"from": username, 'content': message}));
        messageInput.value = '';
    }

    function handleFileSelect(event) {
        const files = event.target.files;
        if (files.length > 0) {
            const selectedFile = files[0];
            const fileReader = new FileReader();
            fileReader.onload = function (event) {
                publicKey.value = extractPublicKey(event.target.result)
            };
            fileReader.readAsText(selectedFile);


        }
    }


    function extractPublicKey(publicKeyString) {
        const lines = publicKeyString.split(/\r?\n/);
        const publicKeyLines = lines.slice(1, lines.length - 2);
        const publicKeyContent = publicKeyLines.join('');
        return publicKeyContent.trim();
    }

    function encryptText() {
        const url = "/algo/encrypt-text";

        if (messageInput.value.trim() === '') {
            alert('Message input is empty. Please enter text to encrypt.');
            return;
        }

        if (publicKey.value.trim() === '') {
            alert('Public key input is empty. Please provide a public key.');
            return;
        }
        plaintext = messageInput.value.trim();
        const publicKeyValue = publicKey.value.trim();
        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'application/json',
            data: {"message": messageInput.value, "publicKey": publicKeyValue},
            success: function (responseData) {
                messageInput.value = responseData.cipher;
                console.log("Received message:" + responseData.cipher)
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Error while encrypting text.");

            }
        });
    }

    function decryptText(cipher, callback) {
        const url = "/algo/decrypt-text";
        if (cipher === '') {
            alert('Ciphertext input is empty. Please enter text to encrypt.');
            callback('');
            return;
        }

        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'application/json',
            data: {"cipher": cipher, "privateKey": privateKey},
            success: function (responseData) {
                console.log("Decrypted message: " + responseData.message);
                callback(responseData.message);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error while decrypting text:", errorThrown);
                callback('');
            }
        });
    }

</script>
</body>

</html>