body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

@font-face {
    font-family: jost;
    src: url(Jost/static/Jost-Light.ttf);
}

@font-face {
    font-family: jost bold;
    src: url(Jost/static/Jost-Bold.ttf);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.blur-block {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    padding: 2.4%;
    width: 30%;
}


.hidden {
    width: 0;
    opacity: 0;
}

.upload-key {
    margin: -45px 20px 0 0;
    text-align: end;
}


label[for=files] {
    background-color: #441F90CC;
    border: none;
    padding: 1% 10%;
    border-radius: 8px;
    width: 45%;
    font-family: jost;
    color: white;
    font-size: 15px;
    box-shadow: 1px 2px rgba(50, 25, 101, 0.63);

}

label[for=files]:hover,
.enc-dec-button:hover {
    background: linear-gradient(90deg, rgba(68, 31, 144, 0.8) 0%, rgba(39, 150, 229, 0.8) 100%);
}

label[for=files]:active,
.enc-dec-button:active {
    background: linear-gradient(90deg, rgba(68, 31, 144, 0.8) 0%, rgba(39, 150, 229, 0.8) 100%);
    box-shadow: 1px 2px rgba(50, 25, 101, 0.63);
    transform: translateY(3px);
}

.first-block {
    float: left;
    margin: 1.5% 0 1.5% 13%;
    height: 11.5em;
}

.second-block {
    float: right;
    margin: 1.5% 13% 1.5% 0;
    justify-content: end;
    height: 11.5em;
}

.key-titles {
    background: linear-gradient(90deg, rgba(68, 31, 144, 0.8) 20%, rgba(39, 150, 229, 0.6) 100%);
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    width: 50%;
    font-family: jost;
    color: white;
    font-size: 18px;
    padding-bottom: 100px;
}

.last-message {
    text-align: right;
    float: right;
}

.key-input {
    width: 92%;
    margin: 2% 2% 0 2%;
    margin-top: -100px;
    padding: 3%;
    border: none;
    color: dimgray;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 10px;
    height: 10em;
    text-indent: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#last-message {
    width: 92%;
    margin: 2% 2% 0 2%;
    padding: 3%;
    scrollbar-width: none;
    color: dimgray;
    overflow-x: hidden;
    border-radius: 10px;
    margin-top: -100px;
    height: 10em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: white;
    text-align: center;
    align-content: center;
}


.third-block {
    height: 13em;
    float: inline-start;
    margin: 0 33%;
}

#chatting-button {
    background-color: rgba(68, 31, 144, 0.8);
    border: none;
    border-radius: 8px;
    width: 55%;
    font-family: jost;
    color: white;
    font-size: 18px;
    box-shadow: 1px 2px rgba(50, 25, 101, 0.63);
    float: right;
    height: 35px;
    margin: 6px 0 0 10px;
}


#chatting-button:hover,
.enc-dec-button:hover {
    background: linear-gradient(90deg, rgba(68, 31, 144, 0.8) 20%, rgba(39, 150, 229, 0.6) 100%);
}

#chatting-button:active,
.enc-dec-button:active {
    background: linear-gradient(90deg, rgba(68, 31, 144, 0.8) 20%, rgba(39, 150, 229, 0.6) 100%);
    box-shadow: 1px 2px rgba(50, 25, 101, 0.63);
    transform: translateY(3px);
}

#loader {
    text-align: center;
    top: 50%;
    left: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #441F90CC;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

#loader-div {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.blur-user-block {
    background: rgb(255, 254, 254);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .3), 0 3px 7px rgba(0, 0, 0, .5);
    width: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    /*border: 1px solid rgba(255, 255, 255, .5);*/
    /*border-right: 1px solid rgba(178, 176, 176, 0.2);*/
    /*border-bottom: 1px solid rgba(129, 128, 128, 0.2);*/
    backdrop-filter: blur(15px);
    margin-right: 2%;
    padding: 0.5% 2%;
    align-items: center;
}

#username-id {
    color: #10234D;
    margin: 0;
    font-family: jost bold;
}

#user-icon {
    height: 17px;
    margin-right: 17px;
}

#blur-user-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}